body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ecf0f3;
  color: rgba(22, 22, 22, 0.78);
  /* font-size: 13px; */
}

.container {
  width: 100%;
  margin: auto;
  height: 100vh;
}

.navbar {
  overflow: hidden;
  width: 70%;
  position: fixed;
  top: 0;
  background-color: #ecf0f3;
  margin: auto;
  z-index: 999999;
}

.header {
  display: block;
  margin: 0 auto;
}

.header .logo {
  float: left;
  display: inline-block;
  margin: 0 auto;
}

.header .logo img {
  align-items: center;
  justify-content: center;
  height: 60px;
  width: auto;
}

.header .menu {
  display: inline-block;
  float: right;
}

.header .menu li {
  padding: 8px 16px;
  display: inline;
}

.header .menu li a {
  text-decoration: none;
  color: inherit;
}

.footer {
  grid-area: f;
}

.content {
  height: 100%;
  width: 70%;
  margin: auto;
}

.content .banner-band {
  width: 100%;
  height: 300px;
  margin: auto;
  background-image: url(../image/banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 40px;
}

.band {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.band .banner img {
  display: block;
  margin: 0 auto;
}

.band .banner .homeInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.band .banner .homeInfo .info {
  text-align: left;
  padding-left: 100px;
}

.band-img {
  height: 250px;
  background-image: url(../image/char.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.band-sun {
  background-image: url(../image/sun.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: 1 / 2 / span 2 / span 4;
}

.band-sun .sun {
  height: 120%;
  background-image: url(../image/loading.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.brand {
  display: block;
}

.brand .info {
  display: inline-block;
  float: left;
  width: 50%;
  margin-top: 40px;
}

.brand .info .detail .image {
  width: 90%;
  height: 300px;
  background-image: url(../image/band.jpg);
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.brand-content {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 180px;
}

.info .detail .more {
  background-color: #ecf0f3;
  width: 120px;
  height: 35px;
  /* margin: auto; */
  text-align: center;
  flex-wrap: nowrap;
  align-content: space-around;
  border: 1px solid #e4d9d9;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.info .detail .more .text {
  background-color: #ffc800e0;
  margin: auto;
  width: 80%;
  border-radius: 10px;
  padding-top: 7%;
  padding-bottom: 7%;
}

.brand .slider-show {
  position: relative;
  display: inline-block;
  margin: auto;
}

.brand .slider-show .mySlides {
  display: none;
}

.brand .slider-show .thumbnail {
  display: block;
}

.brand .slider-show .thumbnail .item {
  display: inline-block;
  height: 60px;
  width: 130px;
}

.brand .slider-show .thumbnail .item-center {
  display: inline-block;
  height: 60px;
  width: 130px;
  transform: scale(1.1);
  transform-origin: center;
  border: 10px solid #ecf0f3;
  top: -12px;
  position: relative;
}

.brand .slider-show .thumbnail .image-01 {
  background-image: url(../image/thumb-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.brand .slider-show .thumbnail .image-02 {
  background-image: url(../image/thumb-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.brand .slider-show .thumbnail .image-03 {
  background-image: url(../image/thumb-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.slideshow-container {
  width: auto;
  margin: auto;
}

/* khi được hover, active đổi màu nền */

.brand .slider-show .thumbnail {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  height: 140px;
  align-items: center;
}

.logo {
  display: block;
  height: 80%;
}

.logo .info {
  display: inline-block;
  float: left;
  width: 50%;
}

.logo .info .detail .image {
  width: 90%;
  height: 300px;
  background-image: url(../image/logo.jpg);
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.logo .slider-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.logo .slider-logo .image {
  height: 120px;
  width: 120px;
}

.logo .slider-logo .image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -moz-box-shadow: 3px 3px 5px 0px #666;
  -webkit-box-shadow: 3px 3px 5px 0px #666;
  box-shadow: 3px 3px 5px 0px #666;
  border: 2px solid black;
}

.logo .slideshow {
  margin: auto;
}

.parent {
  width: 125px;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

.rect {
  width: 125px;
  height: 125px;
  /* transform:translateY(-100%); */
  padding-bottom: 10%;
  padding-top: 10%;
}

.movingDiv {
  height: 100%;
  animation: moveUpWithFade 10s linear infinite;
}

.movingDivDown {
  height: 100%;
  animation: moveUpWithFadeDown 10s linear infinite;
}

@keyframes moveUpWithFade {
  from {
    transform: translateY(100%);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes moveUpWithFadeDown {
  from {
    transform: translateY(-100%);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
  }
}

.slideshow:hover {
  color: aqua;
}

.aboutus {
  display: block;
  width: 100%;
  height: 80%;
  padding-top: 02%;
}

.aboutus .info {
  display: inline-block;
  float: left;
  width: 50%;
}

.aboutus .info .image {
  width: 90%;
  height: 300px;
  margin: auto;
  background-image: url(../image/about-us.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.aboutus .about-image {
  width: 50%;
  height: 100%;
  margin: auto;
  display: inline-block;
}
.aboutus .about-image .image {
  width: 80%;
  height: 80%;
  background-image: url(../image/about-image.jpg);
  background-repeat: round;
  background-size: contain;
  margin: auto;
  border-radius: 20px;
}

.contact {
  display: block;
  width: 100%;
  height: 80%;
}

.contact .info {
  display: inline-block;
  width: 50%;
  height: 100%;
  margin: auto;
  float: left;
}

.contact .contact-image {
  width: 50%;
  height: 100%;
  margin: auto;
  display: inline-block;
}
.contact .contact-image .image {
  width: 80%;
  height: 80%;
  background-image: url(../image/contact.jpg);
  background-repeat: round;
  background-size: contain;
  margin: auto;
  border-radius: 20px;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 25px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 3px 3px 0px #a5a0a0;
}

input[type="message"] {
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 3px 3px 0px #a5a0a0;
}

input[type="submit"] {
  width: 100%;
  background-color: #ffc800e0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffc800e0;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: bisque;
}

@media only screen and (max-width: 600px) {
  .navbar .menu {
    display: none;
  }
  .content {
    height: 100%;
    width: 100%;
  }

  .band .banner .homeInfo {
    display: block;
  }

  .band .banner .homeInfo .info {
    display: inline;
    text-align: left;
    padding-top: 0px; 
    padding-left: 0px;
  }
  .band-sun {
    height: 300px;
    width: 100%;
    background-image: url(../image/sun.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: 1 / 2 / span 2 / span 4;
  }
}
