body {
  background-color: #ecf0f3;
  color: rgba(22, 22, 22, 0.78);
}

.container {
  width: 100%;
  margin: auto;
}
.header {
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.header .logo img {
  align-items: center;
  justify-content: center;
  height: 60px;
  width: auto;
}

.header .menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.header .menu li {
  padding: 8px 16px;
}

.header .menu li a {
  text-decoration: none;
  color: inherit;
}

.footer {
  grid-area: f;
}

.content {
  display: flex;
  grid-area: c;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.band {
  margin: 0 auto;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.band .banner img {
  display: block;
  margin: 0 auto;
}

.band .banner .homeInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.band .banner .homeInfo .info {
  text-align: left;
  padding-top: 100px;
  padding-left: 100px;
}

.band-img {
  height: 250px;
  background-image: url(../image/char.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.band-sun {
  background-image: url(../image/sun.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: 1 / 2 / span 2 / span 4;
}

.band-sun .sun {
  height: 120%;
  background-image: url(../image/loading.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.brand {
  display: grid;
  grid-template-columns: 50% 50%;
}

.brand .info .detail .image {
  width: 90%;
  height: 300px;
  background-image: url(https://via.placeholder.com/360x360.png?text=Magic+Design);
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.brand-content {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 180px;
}
.info .detail .more {
  background-color: #ecf0f3;
  width: 120px;
  height: 35px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4d9d9;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.info .detail .more .text {
  background-color: #ffc800e0;
  margin: auto;
  width: 80%;
  border-radius: 10px;
  padding-top: 7%;
  padding-bottom: 7%;
}

.brand .slider-show {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
}

.brand .slider-show .mySlides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slideshow-container {
  width: auto;
  margin: auto;
}

/* khi được hover, active đổi màu nền */
.brand .slider-show .thumbnail .select.active img,
.brand .slider-show .thumbnail .select:hover img {
  opacity: 1;
}

.brand .slider-show .thumbnail {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.brand .slider-show .thumbnail .select img {
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 170px;
  opacity: 0.4;
}

.logo {
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo .info .detail .image {
  width: 90%;
  height: 300px;
  background-image: url(https://via.placeholder.com/360x360.png?text=Magic+Design);
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo .slider-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.logo .slider-logo .image {
  height: 120px;
  width: 120px;
}

.logo .slider-logo .image img {
  height: 100%;
  width: 100%;
}
